:root{
	--font-family:"ink free", monospace;
}
@font-face {
	font-family: f;
	src: url('fonts/Oswald/static/Oswald-Bold.ttf');
	
	
}
@font-face {
	font-family: a;
	src: url('fonts/Italianno/Italianno-Regular.ttf');
	
}
@font-face{
	font-family: g;
	src: url('fonts/Baloo_Tammudu_2/BalooTammudu2-Medium.ttf');
}
@font-face{
	font-family: b;
	src: url('fonts/Oswald/static/Oswald-Bold.ttf');
}

body{
	font-size: 30px;
	width: auto;
	margin: 0 auto;
	
}
.container{
}
header{
	position: absolute;
	height:fit-content;
}

.nav-bar{
	display: flex;
	justify-content: space-between;
}
.logo{
	margin-right: 20%;
}
.logo-pic{
	margin-top: 17%;
	margin-left: 50%;
	cursor: pointer;
}
nav{
	margin-right: 30%;
}
.nav-bar ul{
	display: flex;
	list-style: none;
	justify-content: space-around;
}
.nav-bar li{
	padding-right: 2em;
}
.nav-bar ul a{
	font-size: 0.65em;
	font-family: g;
	color: black;
	text-decoration: none;
	color: white;
	cursor: pointer;
}
ul a:hover{
	color:rgb(230, 201, 41);
	border-bottom: 1px solid orange;
}

.body-part{
	
	width: 100%;
	height: 100vh;
	display: flex;
	background-image:url('images/dd.jpg');
	background-repeat: no-repeat;
	background-size:  cover
}
/* for the about me */ 
.about{
	display: none;
	top: 50%;
	position: absolute;
	left: 25%;
	width: 50%;
	height: 80vh;
	border-radius: 10px;
	transform: translate(-50%,-50%);
	background-image: url('images/abt-background.jpg');
	
}
.abt-title{
	position:relative;
	font-family: g;
	margin-top: -0.3em;
	font-size:1.5em;
	left: 40%;
}
.animation-about{
	display:none;
	animation: appearance 1s normal both;
}
@keyframes appearance {
	0%{
		transform: translateY(-500px);
	}
	100%{
		transform: translateY(-280px);

	}
	
}
@keyframes sliding-down {
	0%{
		opacity: 1;
	}
	50%{
		opacity : 0.5;
	}
	100%{
		opacity: 0;
	}
	
}
.crs-btn{
	font-size: 1.82em;
	font-weight: 900;
	position: absolute;
	top:-10%;
	left: 90%;
	transform: rotate(45deg);
	cursor: pointer;
}
.crs-btn:hover{
	color: red;
}
.body-para{
	width: 40%;
	font-family: b;
	font-size: 0.75em;
	margin-left: 30%;
	margin-top: 10%;
	padding: 0.25em;	
	color: rgba(0, 0, 0, 0.75);
}

/* ---------- */
.intro{
	margin-top:12%;
	margin-left: 4em;
	height: 300px;
}

.intro-title{
	font-family: Arial, Helvetica, sans-serif;
	font-size:1.5em;
	text-align:center;
	color:black;
	font-weight: bolder;
	overflow: hidden;
	white-space: nowrap;
	width: 8em;
	line-height: 0.7em;
	color:#99d98c;
	transform: translateY(-50%);
}

.animation{
	animation: typewrite 1s steps(55) 1s 1 normal both;
} 

@keyframes typewrite {
	from{
		width: 0;
	}
	to{
		width:12em;
	}
}

.trainer-part{
	font-family: b;
	font-size: 3.1em;
	color:#99d98c;
	font-weight: bolder;
	text-align: left;
	
}
.anim{
	animation: slide 2s normal both;
	animation-delay: 1.5s;
}
@keyframes slide{
	0%{
		opacity: 0;

		
	}
	100%{
		opacity: 1;
		transform: translate(0px, -100px);
		
	}
}

.welcome{
	width: 50%;
	font-size: 0.95em;
	margin-right: 5em;
	font-family:g;
	line-height: 1em;
	text-align: left;
	color: #2aa8f1;
	opacity: 0;
	
}
.animation-welcome{
	animation: typewriting 2s normal both; 	
	animation-delay: 2s;
}
@keyframes typewriting {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
		transform: translateY(-100px);
	}

}
/* for the button */
.button{
	position: absolute;
	text-align: left;
	top:75%;
	font-size: 0.92em;
	font-family: g;
	padding-left: 0.51em;
	padding-right: 0.51em;
	color:black;
	text-decoration: none;
	background-color: rgb(86, 205, 50);
}
.button:hover{
	opacity: 0;
}
.intro a:hover{
	color: rgb(65, 29, 5);
}
.btn-anim{
	animation:appear 2s normal both;
	animation-delay: 2.4s;
}
@keyframes appear {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

/* for the merch session */
.workout-page{
	background: rgb(153,46,214);
	background: linear-gradient(90deg, rgba(153,46,214,1) 18%, rgba(130,91,214,1) 42%, rgba(94,161,214,1) 66%, rgba(56,233,213,1) 92%);
	width: 100%;
	height: 100vh;
	display: none;
	background-repeat: no-repeat;
	background-size:  cover;
}
.img-box{
	height: 70%;
	width: 25%;
	margin-top: 5em;
	margin-left:3.5em;
}
.wrkout-img{
	width: 90%;
	height: 100%;
	box-shadow: 15px 5px 10px black;
	display: block;

}
.content{
	height: 70%;
	margin-top: 5em;
	margin-left: 2em;
	padding:0 5em 0 1em;
}
.content-title{
	font-family: b;
	margin-top: 0;
}
.content-sec-title{
	margin-top: -1em;
	color:rgba(22, 21, 21, 0.95);
	font-family: b;
	font-size: 1.05em;

}
.workout-box{
	margin-top: 2.5em;
	display: grid;
	grid-template-columns:25% 25% 25% 25% ;
	gap: 1.5em;
	text-align: center;
	width: 100%;
	font-family: f;
	font-size: 0.75em;

}
/* --------------- */

.upper{
	width: 100%;
	height: 30vh;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 5px 5px 5px rgb(7, 6, 6);
	background-color: rgba(192, 190, 190, 0.95);
}
.up-h{
	color: rgb(5, 5, 3);
	width: 100%;
	height: 100%;
	margin-top: 1em;
}
.up-img{
	width: 10%;
	height: 20%;
	opacity: 1;
	top: 50%;
	left: 37.35%;
	opacity: 0;
	position: absolute;
	background-color: rgb(179, 180, 184);
	transition: 1 ease;
}
.upper:hover .up-img{
	opacity: 1;
	
}

/* --------------- */


.lower{
	width: 100%;
	height: 30vh;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 5px 5px 5px rgb(7, 6, 6);
	background-color: rgba(192, 190, 190, 0.95);
}
.lower-h{
	color: rgb(5, 5, 3);
	width: 100%;
	height: 100%;
	margin-top: 1em;
}
.lower-img{
	width: 10%;
	height: 20%;
	opacity: 1;
	top: 50%;
	left: 51.35%;
	opacity: 0;
	position: absolute;
	background-color: rgb(179, 180, 184);
	transition: 1 ease;
}
.lower:hover .lower-img{
	opacity: 1;
	
}

/* --------------- */


.glutes{
	width: 100%;
	height: 30vh;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 5px 5px 5px rgb(7, 6, 6);
	background-color: rgba(192, 190, 190, 0.95);
}
.glutes-h{
	color: rgb(5, 5, 3);
	width: 100%;
	height: 100%;
	margin-top: 1.8em;
}
.glutes-img{
	width: 10%;
	height: 20%;
	opacity: 1;
	top: 50%;
	left: 65.35%;
	opacity: 0;
	position: absolute;
	background-color: rgb(179, 180, 184);
	transition: 1 ease;
}
.glutes:hover .glutes-img{
	opacity: 1;
	
}

/* --------------- */


.legs{
	width: 100%;
	height: 30vh;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 5px 5px 5px rgb(7, 6, 6);
	background-color: rgba(192, 190, 190, 0.95);
}
.legs-h{
	color: rgb(5, 5, 3);
	width: 100%;
	height: 100%;
	margin-top: 1.7em;
}
.leg-img{
	width: 10%;
	height: 20%;
	opacity: 1;
	top: 50%;
	left: 79.35%;
	opacity: 0;
	position: absolute;
	background-color: rgb(179, 180, 184);
	transition: 1 ease;
}
.legs:hover .leg-img{
	opacity: 1;
	
}
/* ---------------------- */

/* for workout pop up */
.workout-popup{
	width:100%;
	height: 100vh;
	position: absolute;
	background-color:rgba(0, 0, 0, 0.75);
	display: none;
}
.upper-pop{
	width: 80%;
	height:80%;
	background-color: rgb(224, 219, 219);
	position: absolute;
	display: flex;
	border-radius: 12px;
	top: 10%;	
	left: 10%;
	overflow: auto;
}
.upper-title{
	margin-top: 0.2em;
	font-size:1.2em;
	text-align: center;
	height:fit-content;
	font-family: f;	
	margin-left: 35%;
	border-bottom: 2px solid black;
}
.pop-cross{
	font-size: 2em;
	color:red;
	transform: rotate(45deg);
	position: fixed;
	left: 96%;
	top: 0%;
	margin-top: 0;
	cursor: pointer;
}
.workout-body{
	font-size: 0.9em;
	margin-top: 3.5em;
	position: absolute;
	margin-left: 1em;
	font-family: g;
	line-height: 1.2em;
	text-align: center;
}
.workout-list{
	height: fit-content;
	position: absolute;
	margin-top: 4.5em;
	left: 1%;
	display: inline;

}
.workouts-heading{
	font-size: 1em;
	margin-left: 0.7em;
	font-family: g;
	line-height: 1em;
}
.img-body{
	gap: 2em;
	padding-bottom: 0.5em;
	display: flex;
}
.wrkout-list-img{
	width: 25%;
	margin-left: 1em;
	box-shadow: 5px 5px 5px rgb(7, 6, 6);
	height: 25%;
}
.workout-description{
	font-size: 0.78em;
	font-family: g;
	
	width: auto;
	line-height: 1.5em ;
}
/* ---------------------- */

/* for the class page */
.class-page{
	display: none;
	background-color: rgb(156, 149, 151);
	width: 100%;
	height: 100vh;
}

/* for team page */
.team-page{
	display: none;
	background-color: rgb(19, 14, 15);
	width: 100%;
	height: 100vh;
	
}
.team-title{
	border: 1px solid white;
	height: fit-content;
	
}
.gallary-page{
	display: none;
	background-color: rgb(141, 79, 96);
	width: 100%;
	height: 100vh;
}
/* for the icons */
.contacts{
	position: absolute;
	top: 10%;
	left: 1%;
	opacity: 0;
}
.icon-anim{
	animation: pop 2s normal both;
	animation-delay: 2s;
}
@keyframes pop{
	0%{	
		transform: translateY(0px);
		opacity: 0;
	}
	100%{
		transform: translateY(300px);

		opacity: 1;
	}
}
.icons a{
	padding: 0.6em;
	text-decoration: none;
	display: flex;
}
.fa{
	font-size:0.7em ;
}
.fa-facebook{
	color:white
}
.fa-youtube{
	color: white;
}
.fa-instagram{
	color: white;
}
.icons a:hover{
	color: rgba(0, 0, 0, 0.75);
}
@media only screen and (max-width:700px){

	.container{
		width: auto;
	}
	.nav-bar{
		display: flex;

	}
	.logo{
		margin: 0 auto;
		margin-top: 2%;
		height: fit-content;
	}
	.logo-pic{
		margin: 0 auto;
		width: 100px;
	}
	.body-part{
		background-size: contain;
		margin-left: -399px;
	}
	nav{
		margin: 0;
		margin-left: 5%;
		height: fit-content;
		
	}
	.nav-bar li{
		margin-top: -5%;
		padding-right:0.75em;
	}
	
	.intro{
		display: inline;
		width: auto;
	}
	.intro-title{
		font-size: 1em;
	}
	.trainer-part{

	}
}
@media only screen and (max-width:500px){
	.container{
		height: 200vh;
	}
	header{
		position: relative;
		background: rgb(0,187,166);
		background: linear-gradient(90deg, rgba(0,187,166,1) 8%, rgba(43,151,237,1) 33%, rgba(101,29,255,1) 98%);
		box-shadow: 0px 1px 15px black;

	}
	.logo{
		margin: 0;
		margin-top: -2%;
	}
	.logo-pic{
		width: 50%;
		margin-left: 10%;
		}
	nav{
		width: 100%;
	}
	.nav-bar{
		display: flex;
		padding: 0;
		width: auto;
		
	}
	nav ul{
		margin: 0;
		display: inline;
	}
	nav{
		margin: 0;
		height: fit-content;
		
	}.nav-bar li{
		margin: 0;
		font-size: 0.52em;
	}
	.body-part{
		width: 100%;
		background-size: 150% 100%;
		margin: 0;
		height: 50vh;
		background-position-x: -150px;
		box-shadow: 0px 5px 10px black;

	}
	
	
	.intro{
		display: inline;
		width: auto;
		margin: 0;
		margin-top: 15%;
		margin-left: 7%;
		height: fit-content;
	}

	
	.intro-title{
		font-size: 0.55em;
		line-height: normal;
	}
	
	.intro{
		width: 50%;
		font-size: 0.95em;
	}
	.intro-title{
		margin-top: 1em;
	}
	.trainer-part{
		font-size: 0.82em;
		margin-top: 18%;
	}
	@keyframes slide{
		0%{
			opacity: 0;
	
			
		}
		100%{
			opacity: 1;
			transform: translate(0px, -50px);
			
		}
	}
	@keyframes typewriting {
		0%{
			opacity: 0;
		}
		100%{
			opacity: 1;
			transform: translateY(-50px);
		}
	
	}
	.welcome {
		width: 100%;
		font-size: 0.41em;
	}
	.button{
		position: absolute;
		width: 14%;
		font-size: 0.35em;
		top: 35%;
	}
	.about{
		width: auto;
		margin: 0;
		height: 50%;
		background-size: 110% 100%;
		font-size: 0.5em;
	}
	.abt-title{
		border:1px solid black;
		height: fit-content;
		font-size: 0.85em;
	}
	.workout-page{
		display:flex;
		height: fit-content;
		padding-bottom: 2em;
		width: auto;
		background: rgb(50,209,224);
background: linear-gradient(94deg, rgba(50,209,224,1) 6%, rgba(3,127,144,1) 33%, rgba(41,84,153,1) 51%, rgba(88,64,244,1) 81%, rgba(101,29,255,1) 98%);
		/*border: 10px solid black;*/
	}
	.img-box{
		width: 50%;
		margin: 0;
		margin-top: 10%;
		margin-left: 5%;
		height: 30%;
	}
	.content{
		padding: 0;
		display: inline;
		width: 70%;
		font-size: 0.35em;
		padding-right: 0.2em;
		height: fit-content;
	}
	.workout-box{
		width: 100%;
		display: flex;
		font-size: 0.52em;

	}
	.upper{
		height: 10vh;
	}
	.lower{
		height: 10vh;
	}
	.glutes{
		height: 10vh;
	}
	.legs{
		height: 10vh;
	}
	.upper:hover{
		pointer-events: none;
	}

	.gallary-page{
		display: flex;
	}
	.team-page{
		display: flex;

	}
	.class-page{
		display: flex;
	}
	.contacts{
		width: auto;
		position:fixed;
		margin-left: -1%;
	}
	.icons a{
		font-size: 0.35em;
	}
}
